<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="pt-fidelidade-permissions" version="1.0.0">
    
    <!-- Change this to your plugin name -->
    <name>Permissions Plugin</name>

    <!-- Change this to describe your plugin -->
    <description>Plugin to report on different permissions</description>
    <license>MIT</license>

    <!-- Add any other keywords you find necessary for your plugin -->
    <keywords>cordova,android,ios</keywords>
    
    <engines>
        <engine name="cordova" version=">=10.0.0"/>
        <engine name="cordova-android" version=">=9.0.0"/>
        <engine name="cordova-ios" version=">=6.1.0"/>
    </engines>

    <platform name="android">
        <!-- Change myplugin.js to the name of your plugin's main js file -->
        <js-module src="src/permissions-android.js" name="plugin">
            <!-- Change myPlugin to the name you want your plugin to be referenced from -->
            <clobbers target="PermissionsOutSystems" />
        </js-module>

        <dependency id="cordova-plugin-android-permissions"/>
        <config-file target="res/xml/config.xml" parent="/*">
            <!-- Change this to your plugin name -->
            <feature name="PermissionsFIT">
                <!-- Change this to reflect the name of the package in your android source files -->
                <param name="android-package" value="pt.fidelidade.plugins.permissions.Permissions"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-sdk android:minSdkVersion="23" />
        </config-file>

        <source-file src="src/android/Permissions.java" target-dir="src/pt/fidelidade/plugins/permissions" />
        <framework src="src/android/PermissionsBuild.gradle" custom="true" type="gradleReference" />
    </platform>
    <platform name="ios">
        <!-- Change myplugin.js to the name of your plugin's main js file -->
        <js-module src="src/permissions-ios.js" name="plugin">
            <!-- Change myPlugin to the name you want your plugin to be referenced from -->
            <clobbers target="PermissionsOutSystems" />
        </js-module>

        <config-file target="config.xml" parent="/*">
            <feature name="PermissionsFIT">
                <param name="ios-package" value="Permissions" />
            </feature>
        </config-file>

        <header-file src="src/ios/Permissions.h" />
        <source-file src="src/ios/Permissions.m" />
    </platform>
</plugin>