<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="pt-fidelidade-permissions" version="1.0.0">
    
    <!-- Change this to your plugin name -->
    <name>Permissions Plugin</name>

    <!-- Change this to describe your plugin -->
    <description>Plugin to report on different permissions</description>
    <license>MIT</license>

    <!-- Add any other keywords you find necessary for your plugin -->
    <keywords>cordova,android,ios</keywords>
    
    <engines>
        <engine name="cordova" version=">=10.0.0"/>
        <engine name="cordova-android" version=">=9.0.0"/>
        <engine name="cordova-ios" version=">=6.1.0"/>
    </engines>
  
    <!-- Change myplugin.js to the name of your plugin's main js file -->
    <js-module src="src/permissions.js" name="plugin">
        <!-- Change myPlugin to the name you want your plugin to be referenced from -->
        <clobbers target="Permissions" />
    </js-module>

    <platform name="android">
        <dependency id="cordova-plugin-android-permissions"/>
        <config-file target="res/xml/config.xml" parent="/*">
            <!-- Change this to your plugin name -->
            <feature name="Permissions">
                <!-- Change this to reflect the name of the package in your android source files -->
                <param name="android-package" value="pt.fidelidade.plugins.permissions"/>
            </feature>
        </config-file>

        <!-- <source-file src="src/android/ToastyPlugin.java" target-dir="src/com/stanleyidesis/cordova/plugin" /> -->
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Permissions">
                <param name="ios-package" value="Permissions" />
            </feature>
        </config-file>
    </platform>
</plugin>